In [4]:
print('|%10d %9d %9d|'%(12345,12,1234567))
print('|%10d %9d %9d|'%(12,1234567,123))
print('|%10d %9d %9d|'%(1234567,123,12345))

|     12345        12   1234567|
|        12   1234567       123|
|   1234567       123     12345|

In [5]:
print(format('Department','12s'))
print(format('of','12s'))
print(format('Computer','12s'))
print(format('Science','12s'))
print()

Department
of
Computer
Science

In [6]:
print(format('Department','>12s'))
print(format('of','>12s'))
print(format('Computer','>12s'))
print(format('Science','>12s'))

  Department
          of
    Computer
     Science

In [7]:
print(format(123.456,'10.2f'))
print(format(12345.678,'10.2f'))

    123.46
  12345.68

In [9]:
print('i=%d'%(100))
print('i=%d,j=%d'%(100,200))

i=100
i=100,j=200

In [14]:
print('Price: $ %8.2f'%(356.08977))
print('%10.2f %10.2f'%(123.456, 345.789)) 
print('%-10.2f %5d' %(123.456, 100))
print('radius = %d, area = %7.2f' %(5,5*5*3.14159))
print('Raidus:{a:3d}, Area:{b:10.2f}'.format(a=5,b=5*5*3.14159))

Price: $   356.09
    123.46     345.79
123.46       100
radius = 5, area =   78.54
Raidus:  5, Area:     78.54

In [18]:
print('%.2f degree Celsius in Fahrenheit\
      is %.2f'%(3.25,3.25*1.8+32))
print('%.2f degree Fahrenheit in Celsius\
      is %.2f'%(94.5,(94.5-32)/1.8))

3.25 degree Celsius in Fahrenheit      is 37.85
94.50 degree Fahrenheit in Celsius      is 34.72

In [20]:
print('%-15s%-10s'%('Month','Amount'))
print('%-15d%-10.2f'%(1,43400.2))
print('%-15d%-10.2f'%(2,45430.28))
print('%-15d%-10.2f'%(3,48030.48))
print('%-15d%-10.2f'%(4,51112.96))
print('%-15d%-10.2f'%(5,52857.2))

Month          Amount
1              43400.20
2              45430.28
3              48030.48
4              51112.96
5              52857.20

In [26]:
print('|%10d %9d %9d|'$(12345,12,1234567))
print('Raidus:{a:3d}, Area:{b:10.2f}'.format(5,5*3.14159))
print(format('10.2f',123.456))
print('-15d-10.2f'%(1,43400.2))
print('x={0:%5d},y={1:%7d}'.format(123,12345))

SyntaxError: invalid syntax (<ipython-input-26-fb8ab1032a8c>, line 1)